@model EmaanMall.Models.ViewModel.VendorVM

@{
    ViewData["Title"] = "Create";
}
@section productCreatejscss{
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/datatables.css">

    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/simple-line-icon.css">

    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/select2.css">
}
<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-6">
                <h3>
                    Add Vendor Details
                </h3>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid starts-->
<div class="container-fluid">
    <form asp-action="create" class="form theme-form wizard-horizontal" enctype="multipart/form-data">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">

                        <div class="card-body">
                            <div class="form theme-form">

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label asp-for="vendors.VendorName" class="control-label">Vendor Name </label>
                                            <input asp-for="vendors.VendorName" class="form-control" required />
                                            <span asp-validation-for="vendors.VendorName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label asp-for="vendors.BusinessName" class="control-label">Business Name</label>
                                            <input asp-for="vendors.BusinessName" class="form-control" />
                                            <span asp-validation-for="vendors.BusinessName" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label asp-for="vendors.Phone" class="control-label">Phone Number</label>
                                            <input asp-for="vendors.Phone" class="form-control" required />
                                            <span asp-validation-for="vendors.Phone" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label asp-for="vendors.Email" class="control-label">Email</label>
                                            <input asp-for="vendors.Email" value=@ViewBag.Email class="form-control" readonly />
                                            <span asp-validation-for="vendors.Email" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label asp-for="vendors.Password" class="control-label">Password</label>
                                            <input asp-for="vendors.Password" value=@ViewBag.password class="form-control" readonly />
                                            <span asp-validation-for="vendors.Password" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="vendors.Image" class="control-label">Image</label>
                                            <input type="file" name="Images" asp-for="vendors.Image" class="form-control imgs"  />

                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="container-fluid">
                                                <div class="select2-drpdwn">
                                                    <div class="row">
                                                        <div class="col-md-12">

                                                            <div class="mb-2">
                                                                <div class="col-form-label">Select Business Categories:</div>
                                                                <select class="js-example-placeholder-multiple col-sm-12" asp-for="ProductCategoryIds" asp-items="ViewBag.productsCategories" multiple="multiple">
                                                                </select>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <br />
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="exampleFormControlTextarea1">Address:</label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" asp-for="vendors.Address"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group mb-0"><button type="submit" class="btn btn-success mr-3">Add</button><button type="reset" class="btn btn-danger">Cancel</button></div>
                </div>
            </div>
        </div>
    </form>
</div>
@section productCreatejs{
    <script src="../assets/js/datatable/datatables/jquery.dataTables.min.js"></script>
    <script src="../assets/js/datatable/datatables/datatable.custom.js"></script>

    <script src="../assets/js/icons/icons-notify.js"></script>
    <script src="../assets/js/icons/icon-clipart.js"></script>

    <script src="../assets/js/select2/select2.full.min.js"></script>
    <script src="../assets/js/select2/select2-custom.js"></script>
}